#Ignore Virtual Environment
chillguybot/

#Ignore Environment Variable Files
.env
keys.env

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore IDE/editor config (optional)
.vscode/

# Ignore Context
context.txt